.container {
	height: 500px;
	padding: 1.4cm;
}

.wrapper {
	// overflow: hidden;
	height: 100%;

	svg {
		border-radius: 10px;
	}
}

.tooltip {
	padding: 7px;
	background-color: #131313;
	border-radius: 5px;
}
